<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
    {% include 'adminlte/lib/_styles.html' %}
<body class="hold-transition login-page">
    <div class="login-box">
        <form method="POST">
            {% csrf_token %}
            <div class="login-box-body">
                <p>
                    <input type="text" name="username" placeholder="Username">
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password">
                </p>
            </div>
            <button type="submit">Login</button>
            <p><a href="/register">Signup</a></p>
        </form>
    </div>
</body>
</html>